[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=deploy
Group=deploy
WorkingDirectory=/var/www/html/cicd/app
ExecStart=/var/www/html/cicd/venv/bin/gunicorn --workers 3 --log-level debug --error-logfile /var/lib/django/workspace/cicd/error.log --bind unix:/run/gunicorn.sock app.wsgi:application

[Install]
WantedBy=multi-user.target


[Install]
WantedBy=multi-user.target